*.csv
*.txt
*.btd
!Calibration_at21-12-37.csv
*.pdf
*.xls
*.png
*.svg
*.idea
*.txt
*.mat
!Calibration20210802.txt
*.avi
*.tdms
*.tdms_index
*.zip
*.wav
*.mp4
*.gif
*.cmake
*.html
temp
PouchModelAnalysis/.idea
PouchModelAnalysis/__pycache__

.ipynb_checkpoints
*/.ipynb_checkpoints/*

CMakeFiles/
include/
lib/
testcode/

